.auth {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  padding: 25px;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;
}

.create-wallet {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.create-wallet-modal {
  background-color: aliceblue;
}