.home {
  width: inherit;
  height: inherit;
  flex:1;
  padding: 1em;
  padding-top: 5em;
  background-color: #e6e6e6;
}

.network-select {
  padding: 20px;
  margin-top: 50px;
}

#network-select-label {
  height: 40px;
}