.home {
  width: inherit;
  height: 100%;
  flex:1;
  padding: 0;
  /* background-color: #e6e6e6; */

  /* background: linear-gradient(to right, #2c2721, #1b1b1b, #1b1b1b, #1b1b1b, #2c2721); */
}

.infobox {
  min-height: 5rem;
  color: rgb(54, 54, 54);

}

.options-list {
  margin: 0 1rem;
}

.list {
  margin: 0 1rem;
  margin-top: 0rem;
}

.list-item {
  border-bottom: 1px solid #3030305b;
  border-radius: 5px;
  box-shadow: 0 3px 3px #3030302c;
  color: rgb(54, 54, 54);
  /* margin-bottom: 1rem; */
}