

.header5{
  flex-direction: column;
  padding: 0px !important;
  background-color: #F3F4F6 !important;
  position: absolute;
  top: 50px;

}
.privatekey-input {
  width: 340px;
  height: 40px;
  background-color: #F3F4F6;
  border: 2px solid #003C9D;
  border-radius: 23.5px;
  font-size: 16px;
  padding: 10px;
  outline: none;
  position: relative;
  top: 146px;
  
}

.seed-input {
  width: 340px;
  height: 40px;
  background-color: #F3F4F6;
  border: 2px solid #003C9D;
  border-radius: 23.5px;
  font-size: 16px;
  padding: 10px;
  outline: none;
  margin: 20px auto;
  position: relative;
  top: 145px;
}

.importbutton3  {
  width: 215px;
  height: 39.1px;
  background-color: #003C9D;
  border: none;
  border-radius: 23.5px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600; /* Semi-Bold */
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
position: relative;
top: 143px;
}

.import-wallet-button  {
  position: relative;
  top: 143px;
  }